services:
  labstore-web:
    build:
      context: ..
      dockerfile: infra/Dockerfile.web
    ports:
      - "6790:6790"
    environment:
      - S3_ENDPOINT=labstore-backend:6789
      - S3_ACCESS_KEY=${LS_ADMIN_ACCESS_KEY}
      - S3_SECRET_KEY=${LS_ADMIN_SECRET_KEY}
      - S3_REGION=eu-west-1
      - S3_USE_SSL=false
      - S3_FORCE_PATH_STYLE=true
    networks:
      - labstore
      - minio

  labstore-backend:
    build:
      context: ..
      dockerfile: infra/Dockerfile.backend
    ports:
      - "6789:6789"
    environment:
      - LS_STORAGE_ROOT=/data
      - LS_HOST=${LS_HOST}
      - LS_PORT=${LS_PORT}
      - LS_ADMIN_ACCESS_KEY=${LS_ADMIN_ACCESS_KEY}
      - LS_ADMIN_SECRET_KEY=${LS_ADMIN_SECRET_KEY}
    volumes:
      - labstore:/data
    networks:
      - labstore
    command: ["serve", "--debug"]

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
    volumes:
      - minio:/data
    networks:
      - minio
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 10s
      retries: 5
    restart: unless-stopped
    command: server /data --console-address ":9001"

volumes:
  minio:
  labstore:

networks:
  minio:
  labstore:
